@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #F3F4F6;
    --primary-color: #226A80;
    --white-color: #FFF;
    --black-color: #000;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--bg-color);
}

.hero{
    position: relative;
    width: 15rem;
    bottom: 16rem;
    left: 80rem;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 1.875rem 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    color: var(--black-color);
    font-size: 1.875rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navbar a{
    color: var(--black-color);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0.125rem 0.938rem;
    border-radius: 1.25rem;
}

header .navbar a:not(:last-child){
    margin-right: 1.875rem;
}

header .navbar a:hover{
    background: var(--white-color);
}

.content{
    max-width: 39.063rem;
    margin: 3.75rem 6.25rem;
}

.content .info h2{
    color: var(--primary-color);
    font-size: 3.438rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 3.75rem;
    margin-bottom: 1.875rem;
}

.content .info h2 span{
    color: #113b47;
    font-size: 3rem;
    font-weight: 500;
}

.content .info p{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.content .info-btn{
    color: var(--white-color);
    background-color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0.625rem 1.25rem;
    border-radius: 5px;
}

.content .info-btn:hover{
    background-color: #0C4F60;
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    position: relative;
    color: #111;
    font-size: 1.875rem;
}

.media-icons a:not(:last-child){
    margin-right: 3.75rem;
}

.media-icons a:hover{
    transform: scale(1.5);
}

label{
    display: none;
}

#check{
    z-index: 3;
    display: none;
}

@media (max-width: 960px){
    header .navbar{
        display: none;
    }

    label{
        display: block;
        font-size: 1.563rem;
        cursor: pointer;
    }

    label:hover{
        color: #FFF;
    }

    label .close-btn{
        display: none;
    }

    #check:checked ~ header .navbar{
        z-index: 2;
        position: fixed;
        background: rgba(114, 223, 255, 0.9);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header .navbar a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 3.125rem;
        letter-spacing: 2px;
    }

    #check:checked ~ header label .menu-btn{
        display: none;
    }

    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
    }

    label .menu-btn{
        position: absolute;
    }

    header .logo{
        position: absolute;
        bottom: -6px;
    }

    .content .info h2{
        font-size: 2.813rem;
        line-height: 3.125rem;
    }

    .content .info h2 span{
        font-size: 2.5rem;
        font-weight: 600;
    }

    .content .info p{
        font-size: 0.875rem;
    }
}

@media (max-width: 560px){
    .content .info h2{
        font-size: 2.188rem;
        line-height: 2.5rem;
    }

    .content .info h2 span{
        font-size: 1.875rem;
        font-weight: 600;
    }

    .content .info p{
        font-size: 0.875rem;
    }
    
}
