.wrapper{
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    animation: show_toast 1s ease forwards;
}

@keyframes show_toast{
    0%{
        transform:translateX(-100%);
    }
    40%{
        transform:translateX(10%);
    }
    80%, 100%{
        transform:translateX(20px);
    }
}

.wrapper.hide{
    animation: hide_toast 1s ease forwards;
}

@keyframes hide_toast{
    0%{
        transform:translateX(20px);
    }
    40%{
        transform:translateX(10%);
    }
    80%, 100%{
        opacity: 0;
        pointer-events: none;
        transform:translateX(-100%);
    }
}

.wrapper .toast{
    background: white;
    padding: 20px 15px 20px 20px;
    border-radius: 10px;
    border-left: 5px solid green;
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .toast.offline{
    border-color: #ccc;
}

.toast .content{
    display: flex;
    align-items: center;
}

.content .icon{
    font-size: 25px;
    color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background: green;
}

.toast.offline .content .icon{
    background: #ccc;
}

.content .details{
    margin-left: 15px
}

.details span{
    font-size: 20px;
    font-weight: 500;
}

.details p{
    color: #878787;
}

.toast .close-icon{
    color: #878787;
    font-size: 23px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}